{% block styles %}
    <style>
        .spinner-border{
          display: none;
        }
         .spinner-border.htmx-request {
          display: inline-block;
        }
    </style>
{% endblock styles %}

<form id="id-info-form" method="post" class="">
    {% csrf_token %}
    {% if not guest.cancelled %}
        <div class="d-flex flex-column flex-md-row justify-content-start mb-5 align-items-center">
            <div class="row g-3 mb-3 align-items-center">
                <label for="{{ info_form.food_preferences.id_for_label }}" 
                       class="col-auto">{{ info_form.food_preferences.label }}:</label>
                <div class="col-auto me-3">
                    {{ info_form.food_preferences }}
                </div>
                <div class="col-auto form-check form-switch">
                    <label class="form-check-label" 
                           for="{{ info_form.overnight_stay.id_for_label }}">
                        {{ info_form.overnight_stay.label }}
                    </label>
                    {{ info_form.overnight_stay }}
                </div>
            </div>
        </div>
        <div class="subheading mb-3">
            Infos zur Begleitung:
        </div>
        {{ entourage_formset.management_form }}
        {% for form in entourage_formset %}
            {{ form.id }}
            {{ form.guest }}
            <div class="d-flex flex-column flex-md-row justify-content-start mb-3 align-items-center">
                <div class="row g-3 mb-3 align-items-center">
                    <label for="{{ form.display_name.id_for_label }}" 
                           class="col-auto">{{ form.display_name.label }}:</label>
                    <div class="col-auto me-3">
                        {{ form.display_name }}
                    </div>
                    <label for="{{ form.food_preferences.id_for_label }}" 
                           class="col-auto">{{ form.food_preferences.label }}:</label>
                    <div class="col-auto me-3">
                        {{ form.food_preferences }}
                    </div>
                    <div class="col-auto form-check form-switch">
                        <label class="form-check-label" 
                               for="{{ form.overnight_stay.id_for_label }}">
                            {{ form.overnight_stay.label }}
                        </label>
                        {{ form.overnight_stay }}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="d-flex flex-column justify-content-between mb-3">
            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="Leave a comment here" 
                          id="{{ info_form.note.id_for_label }}"
                          name="{{ info_form.note.name }}"
                          style="height: 100px">{{ info_form.note.value }}</textarea>
                <label for="{{ info_form.note.id_for_label }}">{{ info_form.note.label }}</label>
            </div>
            <div class="row g-3 align-items-baseline">
                <div class="col">
                    <button class="btn btn-outline-secondary mb-3"
                            hx-post="{% url 'info-form-handler' %}"
                            hx-swap="outerHTML"
                            hx-target="#id-info-form"
                            hx-vals='{"cancel": "True"}'
                            hx-indicator="#cancel-spinner">
                        <span id="cancel-spinner" class="spinner-border spinner-border-sm"
                              aria-hidden="true" role="status"></span>
                        <span>Absagen</span>
                    </button>
                </div>
                <div class="col text-end">
                    <button class="btn btn-secondary mb-3"
                            hx-post="{% url 'info-form-handler' %}"
                            hx-swap="outerHTML"
                            hx-include="#id-info-form"
                            hx-target="#id-info-form"
                            hx-indicator="#info-form-spinner">
                        <span id="info-form-spinner" class="spinner-border spinner-border-sm"
                              aria-hidden="true" role="status"></span>
                        <span>Speichern{% if not guest.confirmed %} und Zusagen{% endif %}</span>
                    </button>
                    {% if guest.confirmed %}<p class="text-secondary">Vielen Dank für deine Zusage!</p>{% endif %}
                </div>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-between mb-3">
            {% if guest.wants_overnight_stay %}
                <p class="text-danger lead">Zur Information: Die Zahl der Gästezimmer ist begrenzt was auch heißt, dass du den Raum teilen musst. Du solltest außerdem eigene Schlafmöglichkeiten, wie eine Luftmatratze oder Ähnliches dabei haben. Eine Pension im Ort oder Zelten sind auch Möglichkeiten.</p>
            {% endif %}
        </div>
    {% else %}
        <div class="d-flex flex-column flex-md-row justify-content-start mb-5 align-items-center">
            <div class="row g-3 mb-3 align-items-center">
                <p>Du hast Abgesagt</p>
                <button class="btn btn-secondary mb-3"
                        hx-post="{% url 'info-form-handler' %}"
                        hx-swap="outerHTML"
                        hx-target="#id-info-form"
                        hx-vals='{"cancel": "False"}'
                        hx-indicator="#undo-spinner">
                    <span id="undo-spinner" class="spinner-border spinner-border-sm"
                          aria-hidden="true" role="status"></span>
                    <span>Rückgängig machen</span>
                </button>
            </div>
        </div>
    {% endif %}
</form>
