{% extends "base.html" %}
{% load static %}

{% block nav %}
    {% include "invitation_manager/nav.html" %}
{%  endblock nav %}

{% block content %}
<!-- invitation-->
    <section class="resume-section" id="invitation">
        <div class="resume-section-content">
            {% if content %}
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div id="self_image_carousel" class="carousel slide" data-bs-interval="5000" data-bs-ride="carousel" data-bs-touch="false">
                        <div class="carousel-indicators">
                            {% for img in content.images.all %}
                                    <button type="button" 
                                            data-bs-target="#self_image_carousel" 
                                            data-bs-slide-to="{{ forloop.counter0 }}" 
                                            {% if forloop.first %}
                                            class="active" 
                                            aria-current="true" 
                                            {% endif %}
                                            aria-label="Slide {{ forloop.counter }}">
                                    </button>
                            {% endfor %}
                        </div>
                        <div class="carousel-inner">
                            {% for img in content.images.all %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <img src="{% url 'image-file-view' img.id %}" 
                                         class="d-block w-100" alt="{{ img.file_name }}">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
            <h1 class="mb-0">
                Hallo <span class="text-secondary">{{ guest.display_name }}!</span>
            </h1>
            <div class="subheading mb-5">
                hiermit möchte ich dich gerne zu meinem 30. Geburtstag einladen.
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <p class="lead">### text hier ###</p>
            </div>
        </div>
    </section>
            <hr class="m-0" />
            <!-- info-form -->
            <section class="resume-section" id="info-form">
                <div class="resume-section-content">
                    <h2 >Deine Infos</h2>
                    <p class="mb-5">Damit jeder auch verpflegt ist, würde ich hier ein Paar informationen von euch abfragen. Bitte tragt auch die Wünsche eurer Begleitung ein.</p>
                    {% include 'invitation_manager/info_form.html' %}
                </div>
            </section>
            <hr class="m-0" />
            <!-- Location-->
            <section class="resume-section" id="location">
                <div class="resume-section-content">
                    <h2 class="mb-5">Location</h2>
                        <h3 class="mb-0">Sektion in arbeit...</h3>
{#                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">#}
{#                        <div class="flex-grow-1">#}
{#                            <h3 class="mb-0">University of Colorado Boulder</h3>#}
{#                            <div class="subheading mb-3">Bachelor of Science</div>#}
{#                            <div>Computer Science - Web Development Track</div>#}
{#                            <p>GPA: 3.23</p>#}
{#                        </div>#}
{#                        <div class="flex-shrink-0"><span class="text-primary">August 2006 - May 2010</span></div>#}
{#                    </div>#}
{#                    <div class="d-flex flex-column flex-md-row justify-content-between">#}
{#                        <div class="flex-grow-1">#}
{#                            <h3 class="mb-0">James Buchanan High School</h3>#}
{#                            <div class="subheading mb-3">Technology Magnet Program</div>#}
{#                            <p>GPA: 3.56</p>#}
{#                        </div>#}
{#                        <div class="flex-shrink-0"><span class="text-primary">August 2002 - May 2006</span></div>#}
{#                    </div>#}
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3">Programming Languages & Tools</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                        <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                        <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                        <li class="list-inline-item"><i class="fab fa-angular"></i></li>
                        <li class="list-inline-item"><i class="fab fa-react"></i></li>
                        <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                        <li class="list-inline-item"><i class="fab fa-sass"></i></li>
                        <li class="list-inline-item"><i class="fab fa-less"></i></li>
                        <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
                        <li class="list-inline-item"><i class="fab fa-gulp"></i></li>
                        <li class="list-inline-item"><i class="fab fa-grunt"></i></li>
                        <li class="list-inline-item"><i class="fab fa-npm"></i></li>
                    </ul>
                    <div class="subheading mb-3">Workflow</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Mobile-First, Responsive Design
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Cross Browser Testing & Debugging
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Cross Functional Teams
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Agile Development & Scrum
                        </li>
                    </ul>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Interests</h2>
                    <p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.</p>
                    <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.</p>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Awards-->
            <section class="resume-section" id="awards">
                <div class="resume-section-content">
                    <h2 class="mb-5">Awards & Certifications</h2>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Google Analytics Certified Developer
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Mobile Web Specialist - Google Certification
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            1
                            <sup>st</sup>
                            Place - University of Colorado Boulder - Emerging Tech Competition 2009
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            1
                            <sup>st</sup>
                            Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            2
                            <sup>nd</sup>
                            Place - University of Colorado Boulder - Emerging Tech Competition 2008
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            1
                            <sup>st</sup>
                            Place - James Buchanan High School - Hackathon 2006
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            3
                            <sup>rd</sup>
                            Place - James Buchanan High School - Hackathon 2005
                        </li>
                    </ul>
                </div>
            </section>

{% endblock content %}
